* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    text-align: center;
    background: #161E54;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    visibility: hidden;
    transition: transform 0.5s, top 0.4s;
}
.open-mainContainer {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
}



h1 {
    margin-top: 50px;
    font-size: 50px;
    font-family: sans-serif;
    color: rgb(21, 240, 211);
}


.container {
    height: 60vh;
    width: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-container {
    display: none;
}

.game {
    height: 50vh;
    width: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1.6vh;
}

.box {
    height: 15vh;
    width: 15vh;
    background-color: #79C9C5;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 50px;
    font-weight: 600;
    color: #1C4D8D;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(16, 61, 67);
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 20px rgb(16, 61, 67);
}

#resetBtn {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(22, 122, 136);
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(16, 61, 67);

}

#resetBtn:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 20px rgb(16, 61, 67);
    background-color: #BDE8F5;
    color: #4988C4;

}

.hide-resetBtn {
    display: none;
}

.msg-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.msg-Container::after {
    content: "Thanks Meraj";
    color: white;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 25px;


}

.hide {
    display: none;
}

#msg {
    font-size: 30px;
    font-weight: bold;
    color: wheat;
    border: none;
    margin: 20px 0 20px 0;
}

.playAgain-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(22, 122, 136);
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(16, 61, 67);
    margin-left: 20px;
}


.playAgain-btn:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 20px rgb(16, 61, 67);
    background-color: #BDE8F5;
    color: #4988C4;

}

/* Name input-box by Players */


.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background: rgb(133, 18, 240);
    border-radius: 10px;
    color: white;
    font-family: sans-serif;
    

}

.remove-userForm {
    display: none;
}

form h3 {
    margin: 0;
}

form h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.input-box {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

input {
    width: 65%;
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    text-transform: capitalize;
    border: 1px solid blueviolet;
}


input:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 20px grey;

}

input::placeholder {
    font-size: 16px;
}

#start-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    transition: 0.3s;
    cursor: pointer;
    background-color: rgb(33, 183, 183);
    color: rgb(251, 254, 252);
    margin-top: 10px;

}

#start-btn:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 20px grey;

}


@media (max-width: 450px) {
    .game {
        height: 40vh;
        width: 40vh;
    }

    .box {
        height: 12vh;
        width: 12vh;
    }

    .msg-Container {
        margin-top: 50px;
    }
}